<div th:fragment="sidebar">
	<!-- Sidebar -->

	<div class="w3-sidebar w3-bar-block w3-border-right "
		style="display: none" id="mySidebar">
		<button onclick="w3_close()" class="w3-bar-item w3-large">Close
			&times;</button>
		<a href="/index" class="w3-bar-item w3-button">Home Page</a> <a
			href="/createProduct" class="w3-bar-item w3-button">Create
			Product</a> <a href="bucket" class="w3-bar-item w3-button">Bucket</a>
		<form th:action="@{/logout}" method="post">
			<input type="submit" value="Sign Out" />
		</form>
	</div>


	<!-- Page Content -->
	<div class="w3-brown">
		<button class="w3-button w3-brown w3-xlarge" onclick="w3_open()">☰</button>
		<div class="w3-container">
			
		</div>
	</div>

	<script>
		function w3_open() {
			document.getElementById("mySidebar").style.display = "block";
		}

		function w3_close() {
			document.getElementById("mySidebar").style.display = "none";
		}
	</script>


</div>